<tr id="<%-id%>">
  <td><button type="button" class="btn btn-success btn-xs connect">連線</button></td>
  <td><button type="button" class="btn btn-danger btn-xs btn-hide">隱藏</button></td>
  <td><span><%-ip%></span></td>
</tr>