<h5>USB Android Devices</h5>
<table class="table table-condensed">
  <thead>
    <tr>
      <td><button type="button" class="btn btn-primary btn-xs scan-usb">掃描</button></td>
      <td><span></span></td>
      <td><span>PID</span></td>
      <td><span class="text-scan-status"></span></td>
    </tr>
  </thead>
  <tbody id="usbDeviceManager"></tbody>
</table>

<h5>Robotmon Devices</h5>
<table class="table table-condensed">
  <thead>
    <tr>
      <td><button type="button" class="btn btn-primary btn-xs connect-ip">新增</button></td>
      <td colspan="2"><input type="text" class="text-ip" value="10.0.1.5" size="18"/></td>
    </tr>
  </thead>
  <tbody id="deviceManager"></tbody>
</table>