<div id="deviceManager">
  <div class="alert alert-success">
    <input type="text" class="text-ip" value="10.0.1.5" size="18"/>
    <button type="button" class="btn btn-success connect-ip">連線</button>
  </div>
</div>