<tr id="<%-id%>">
  <td><button type="button" class="btn btn-success btn-xs btn-start">啟動</button></td>
  <td><button type="button" class="btn btn-danger btn-xs btn-stop">關閉</button></td>
  <td><span class="text-pid">0</span></td>
  <td><span><%-id%></span></td>
</tr>