:root {
  --blue: #2196F3;
  --green: #56E39E;
  --red: #FB4343;
}

html, body {
  font-family: consloas, sans-serif, monospace, 微軟正黑體;
}

.dark {
  background-color: #202A33;
  color: white;
}

.panel-container {
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.panel-header {
  color: white;
  font-size: 16px;
  margin-left: 5px;
  padding: 10px;
}

.panel-item {
  align-items: center;
  color: white;
  display: flex;
  font-size: 15px;
  margin: 3px;
  padding: 3px;
}

input {
  background-color: rgb(39, 40, 34);
  border: none;
  border-radius: 5px;
  color: white;
  outline-color: var(--blue);
}

input:focus {
  outline: 0 !important;
}

.input-text {
  width: 120%;
}

input[type="radio"] {
  width: 18px;
  height: 18px;
  background-color: #2E3842;
  border: 2px solid white;
  border-radius: 50%;
  bottom: 2px;
  outline: none;
  transition: 0.2s all linear;
  -webkit-appearance: none;
}

input[type="radio"]:checked {
  background-color: var(--green);
  border-color: white;
}

button {
  min-width: 70px;
  background-color: #2E3842;
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  padding: 7px;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}

button:hover {
  background-color: white;
  color: #2E3842;
}

button:focus {
  outline: 0 !important;
}

.button-blue {
  border-color: var(--blue);
}

.button-blue:hover {
  background-color: var(--blue);
  color: white;
}

.button-green {
  border-color: var(--green);
}

.button-green:hover {
  background-color: var(--green);
  color: white;
}

.button-red {
  border-color: var(--red);
}

.button-red:hover {
  background-color: var(--red);
  color: white;
}

li {
  color: white;
  font-size: 16px;
}

/* App.jsx */
html, body, #app, #app > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
  
nav {
  background-color: rgb(22, 24, 24);
  height: 56px;
  text-align: center;
  padding: 4px;
}

nav > * {
  margin: 4px;
}

nav > input[type=file] {
  display: inline-block;
  color: white;
}
  
#container {
  flex: 1;
  display: flex;
}
  
#menu {
  background-color: rgb(39, 40, 34);
  width: 48px;
}

#menu > button {
  min-width: 42px;
  height: 42px;
  margin: 8px 2px 0;
}
  
#browser {
  background-color: rgb(30, 31, 28);
  width: 260px;
}

#main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

#panel {
  display: flex;
  flex: 1;
  flex-direction: row;
}
  
#editor {
  background-color: rgb(39, 40, 34);
  flex: 1;
  /* position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
}
  
#inspector {
  background-color: rgb(30, 31, 28);
  width: 360px;
  display: flex;
  flex-direction: column;
}
  
#monitor .debug-screen-position {
  padding: 4px 8px;
  color: white;
  font-size: 15px;
}

#console {
  height: 240px;
  flex-direction: column;
  background-color: rgb(39, 40, 34);
  overflow: scroll;
  white-space: pre-wrap;
  color: white;
  border: none;
}

.toolbar {
  flex: 1;
  height: 24px;
  background-color: rgb(30, 31, 28);
}