:root {
    --blue: #2196F3;
    --green: #56E39E;
    --red: #FB4343;
}

html, body {
    font-family: consloas, sans-serif, monospace;
}

.container {
    padding: 20px;
}

.dark {
    background-color: #202A33;
    color: white;
}

.panel-container {
    background-color: #2E3842;
    border-radius: 10px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.panel-header {
    background-color: #29303A;
    border-radius: 10px 10px 0px 0px;
    color: white;
    font-size: 18px;
    padding: 10px;
}

.panel-item {
    color: white;
    font-size: 16px;
    margin: 10px 10px 0px 10px;
}

input {
    width: 100%;
    height: 100%;
    background-color: #202A33;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    outline-color: var(--blue);
    padding: 5px;
}

input:focus {
    outline: 0 !important;
}

input[type="radio"] {
    width: 18px;
    height: 18px;
    background-color: #2E3842;
    border: 2px solid white;
    border-radius: 50%;
    bottom: 2px;
    outline: none;
    transition: 0.2s all linear;
    -webkit-appearance: none;
}

input[type="radio"]:checked {
    background-color: var(--green);
    border-color: white;
}

button {
    min-width: 70px;
    background-color: #2E3842;
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    padding: 10px;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

button:hover {
    background-color: white;
    color: #2E3842;
}

button:focus {
    outline: 0 !important;
}

.button-blue {
    border-color: var(--blue);
}

.button-blue:hover {
    background-color: var(--blue);
    color: white;
}

.button-green {
    border-color: var(--green);
}

.button-green:hover {
    background-color: var(--green);
    color: white;
}

.button-red {
    border-color: var(--red);
}

.button-red:hover {
    background-color: var(--red);
    color: white;
}