:root {
  --blue: #2196F3;
  --green: #56E39E;
  --red: #FB4343;
}

html, body {
  font-family: consloas, sans-serif, monospace, 微軟正黑體;
  color: white;
}

.panel-header {
  color: white;
  font-size: 14px;
  padding: 10px;
}

.panel-item {
  align-items: center;
  color: white;
  display: flex;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
}

input {
  background-color: rgb(39, 40, 34);
  border: none;
  border-radius: 5px;
  color: white;
  outline-color: var(--blue);
}

input:focus {
  outline: 0 !important;
}

.input-text {
  width: 130%;
}

input[type="radio"] {
  width: 18px;
  height: 18px;
  background-color: rgb(39, 40, 34);
  border: 2px solid white;
  border-radius: 50%;
  bottom: 2px;
  outline: none;
  transition: 0.2s all linear;
  -webkit-appearance: none;
}

input[type="radio"]:checked {
  background-color: var(--green);
  border-color: white;
}

.button {
  min-width: 60px;
  background-color: rgb(39, 40, 34);
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  font-family : inherit;
  font-size: 14px;
  padding: 6px;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}

.button:hover {
  background-color: white;
  color: #2E3842;
}

.button:focus {
  outline: 0 !important;
}

.button-blue {
  border-color: var(--blue);
}

.button-blue:hover {
  background-color: var(--blue);
  color: white;
}

.button-green {
  border-color: var(--green);
}

.button-green:hover {
  background-color: var(--green);
  color: white;
}

.button-red {
  border-color: var(--red);
}

.button-red:hover {
  background-color: var(--red);
  color: white;
}

.button-menu:hover {
  background-color: var(--blue);
  border-color: var(--blue);
}

li {
  color: white;
  font-size: 16px;
}

/* App.jsx */
html, body, #app, #app > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
  
nav {
  background-color: rgb(22, 24, 24);
  height: 56px;
  text-align: center;
  padding: 4px;
}

nav > * {
  margin: 4px;
}

nav > input[type=file] {
  display: inline-block;
  color: white;
}
  
#container {
  flex: 1;
  display: flex;
}
  
#menu {
  background-color: rgb(39, 40, 34);
  width: 48px;
}

#menu > button {
  min-width: 42px;
  height: 42px;
  margin: 6px 3px 3px 3px;
}
  
#browser {
  background-color: rgb(30, 31, 28);
  width: 220px;
  overflow-x: hidden;
  overflow-y: auto;
}

#main {
  display: flex;
  flex: 1;
  flex-direction: column;
}
  
#editor {
  background-color: rgb(39, 40, 34);
  flex: 1;
}
  
#inspector {
  background-color: rgb(30, 31, 28);
  width: 300px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}
  
#monitor .debug-screen-position {
  padding: 4px 8px;
  color: white;
  font-size: 15px;
}

#console {
  height: 240px;
  display: flex;
  flex-direction: column;
  background-color: rgb(39, 40, 34);
  white-space: pre-wrap;
  color: white;
  border: none;
}

#console > div, #console > div > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#console .tab-content {
  flex: 1;
  padding: 4px;
  overflow: auto;
}

.toolbar {
  background-color: rgb(30, 31, 28);
  padding-top: 4px;
}

.toolbar::before, .toolbar::after {
  content: "";
}

.toolbar > li {
  padding: 0 0 0 4px;
}

.toolbar > li > a {
  font-size: 12px;
  padding: 4px;
  border-radius: 4px 4px 0 0;
  background-color: #333;
  color: white;
}

.toolbar > li.active > a {
  background-color: var(--blue);
}

.toolbar > li > a:focus,
.toolbar > li > a:hover {
  background-color: #292929;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.vertical-container {
  position: relative;
  padding: 10px 5px 10px 5px;
}

.vertical-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.ace_search_form > button[title="Alt-Enter"] {
  color: black;
  width: 35px;
}

.ace_replace_form > button {
  color: black;
}