<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.5.14/vuetify.min.css" rel="stylesheet">

  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
  <script src="https://www.gstatic.com/firebasejs/5.8.3/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.min.js"></script> -->
  <script src="https://unpkg.com/http-vue-loader"></script>
  <script src="https://unpkg.com/vuex@3.1.0/dist/vuex.js"></script>
  <!-- <script src="src/config.js"></script> -->
  <script src="src/stores/firebase.js"></script>
  <script src="src/stores/developer.js"></script>
  <script src="src/store.js"></script>
</head>

<body>
  <div id="app">
    <v-app>
      <v-navigation-drawer app permanent open clipped>
        <v-toolbar flat>
          <v-toolbar-title>Scripts</v-toolbar-title>
        </v-toolbar>
        <v-divider></v-divider>
        <v-list dense class="pt-0">
          <v-list-tile @click="selectScript(null)">
            <v-list-tile-action>
              <v-icon>add_circle_outline</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>New Script</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile v-for="item in scripts" :key="item.scriptId" @click="selectScript(item)">
            <v-list-tile-action>
              <v-icon>description</v-icon>
            </v-list-tile-action>
    
            <v-list-tile-content>
              <v-list-tile-title>{{ item.displayName }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>
      <!-- Toolbar -->
      <user-info :user="user"></user-info>
      
      <v-content>
        <v-container fluid>

          <v-dialog :value="alertTitle" max-width="500px">
            <v-card>
              <v-card-title>
                {{ alertTitle }}
                <v-spacer></v-spacer>
              </v-card-title>
              <v-card-text>
                {{ alertMessage }}
              </v-card-text>
            </v-card>
          </v-dialog>
          
          <login-box v-if="!isLogin"></login-box>
          <script-editor v-else :script="selectedScript"></script-editor>
        </v-container>
      </v-content>
      <v-footer app></v-footer>
    </v-app>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.5.14/vuetify.min.js"></script>
  <script>
    // Global registration
    Vue.component('full-loading', httpVueLoader('src/components/full-loading.vue'));
    Vue.component('script-version', httpVueLoader('src/components/script-version.vue'));
    
    var app = new Vue({
      el: '#app',
      store: store,
      data: {
        items: [
          { title: 'Home', icon: 'dashboard' },
          { title: 'About', icon: 'question_answer' }
        ],
        right: null,
        selectedScript: null,
      },
      methods: {
        ...Vuex.mapActions('firebase', ['initFirebase']),
        selectScript: function(script) {
          console.log('selectScript', script);
          this.selectedScript = script;
        },
      },
      computed: {
        ...Vuex.mapState('firebase', ['isLogin', 'user']),
        ...Vuex.mapState('developer', ['scripts']),
        ...Vuex.mapState(['alertTitle', 'alertMessage']),
      },
      components: {
        'login-box': httpVueLoader('src/components/login-box.vue'),
        'user-info': httpVueLoader('src/components/user-info.vue'),
        'script-editor': httpVueLoader('src/components/script-editor.vue'),
      },
      mounted: function() {
        // console.log(this.$store.state.firebase.loginConfig)
        this.initFirebase();
      },
      watch: {
        isLogin: function(newIsLogin, oldIsLogin) {
          if (newIsLogin && !oldIsLogin) {
            // init/get developer
            this.$store.dispatch('developer/getMe', {
              name: this.user.displayName,
              email: this.user.email,
            });
            // this.$store.dispatch('developer/getMyScripts', {});
          }
        }
      },
    });

    // firebase.auth().onAuthStateChanged(function (user) {
    //   if (user) {
    //     store.commit('login', user);
    //     // User is signed in.
    //     // var displayName = user.displayName;
    //     // var email = user.email;
    //     // var emailVerified = user.emailVerified;
    //     // var photoURL = user.photoURL;
    //     // var uid = user.uid;
    //     // var phoneNumber = user.phoneNumber;
    //     // var providerData = user.providerData;
    //     // user.getIdToken().then(function (accessToken) {
    //     //   console.log('accessToken', accessToken);
    //     // }); 
    //     console.log('login', user);
    //   } else {
    //     store.commit('logout');
    //     // User is signed out.
    //     // document.getElementById('sign-in-status').textContent = 'Signed out';
    //     // document.getElementById('sign-in').textContent = 'Sign in';
    //     // document.getElementById('account-details').textContent = 'null';
    //     console.log('logout', user);

    //   }
    // }, function (error) {
    //   console.log(error);
    // });
  </script>
</body>

</html>