html, body {
    height: 100%;
    margin: 0;
    width: 100%;
    font-family: consloas, sans-serif, monospace;
}

.container {
    padding: 20px;
}

.dark {
    background-color: #202A33;
    color: white;
}

.light {
    background-color: #f1f1f1;
    color: #333;
}

.panel {
    background-color: #2E3842;
    border-radius: 10px;
    padding: 15px;
}

input {
    margin-top: 10px;
    padding: 5px;
    width: 70%;
    background-color: #202A33;
    border: none;
    border-radius: 5px;
    color: white;
}

button {
    min-width: 70px;
    padding: 10px;
    background-color: #2E3842;
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button:hover {
    background-color: white;
    color: #2E3842;
}

button:focus {
    outline: 0 !important;
}

.button-blue {
    border-color: #2196F3;
    margin-right: 15px;
}

.button-blue:hover {
    background-color: #2196F3;
    color: white;
}

.button-green {
    border-color: #56E39E;
}

.button-green:hover {
    background-color: #56E39E;
    color: white;
}

.button-red {
    border-color: #FB4343;
}

.button-red:hover {
    background-color: #FB4343;
    color: white;
}

textarea {
    width: 100%;
    height: 300px;
    font-family: consloas, sans-serif, monospace;
    font-size: 14px;
    margin-top: 10px;
    padding: 5px;
    background-color: #202A33;
    border: none;
    border-radius: 5px;
    color: white;
    box-sizing: border-box;
    resize: none;
}

table {
    border: 0;
    width: 100%;
}